.navbar-default{
  background: #2E2D29 !important;
  border: none;
  background-color: transparent;
  padding:10px;
 }

 .primer-section{
 background-image: url(../img/header-bg.jpg);
 height: 100vh;
	background-size: cover;
	background-repeat: no-repeat;
	


 }

#inicio,
#portfolio{
	padding: 5% 3%;
}

.btn-default{
	padding:15px;
	color: white;
	border: none;
	background-color: #F2E420;
	position: center;
	font-weight: bold;
	font-size: 20px;
}

.welcome-title{
	font-family: 'Spectral', serif;
	color: white;
	font-size: 60px;

}

.welcome-sub{
	font-family: 'Montserrat', sans-serif;
	color: white;
	font-size:80px;
	font-weight: bold;
	margin-bottom: 30px;
}

.navbar-brand{
	font-family: 'Kaushan Script', cursive;
	color: #F2E420 !important;
	font-size: 30px;
}

.navbar-nav li a{
	color:white !important;
}

.navbar-nav li a:hover{
	color:#F2E420 !important;
}

.icon{
	font-size: 50px;
	color:white;
	padding-bottom: 15px;
	background-color: #F2E420;
	border-radius: 50%;
	padding: 15px;

}

.iconlock{
	font-size: 50px;
	text-align: center;
	color:white;
	padding-bottom: 15px;
	background-color: #F2E420;
	border-radius: 100%;
	padding: 15px;
	width: 80px;
	
}

.service-title,
.port-title,
.about-title,
.team-title{
	font-family: 'Montserrat', sans-serif;
	color: #2E2D29;
	font-size: 50px;
	font-weight: bold;
	padding-top: 100px;
}

.sub-services,
.sub-port,
.sub-about,
.sub-team{
	font-family: 'Spectral', serif;
	font-size: 20px;
	color: #2E2D29;
	padding-bottom: 70px;
}

.row-services{
	text-align: center;
}

.titulo-services
{
	font-family: 'Montserrat', sans-serif;
	color: #2E2D29;
	font-size: 20px;
	font-weight: bold;
}

.segundo-section,
.tercer-section,
.quinto-section
{
	padding: 5% 3%;
}

.parrafo{
	padding-bottom: 100px;
}

.port{
  max-width: 320px;
  width: 1000px;
  
}

.title-imgport{
	font-family: 'Montserrat', sans-serif;
	color: #2E2D29;
	font-size: 18px;
	font-weight: bold;
	text-align: center;

}

.sub-imgport{
	font-family: 'Spectral', serif;
	font-size: 16px;
	color: #2E2D29;
	text-align: center;
}

.sub-imgport{
	padding-bottom: 50px;
}

.img-circle{
	width: 130px;
	border: 5px solid #CCCCCC;
	
}

.circulo-amarillo{
	width: 130px;
     height: 130px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #F2E420;
     text-align: center;
     font-size: 15px;
     font-weight: bold;
     color: white;
     padding: 25px;
     border: 5px solid #CCCCCC;

}

h4{
	font-family: 'Montserrat', sans-serif;
	color: #2E2D29;
	font-size: 16px;
	font-weight: bold;
}

.about-text{
	font-family: 'EB Garamond', serif;
	font-size: 16px;
}

.img-circle.team{
	width: 150px;
	border: 5px solid #fff;
}

.quinto-section{
	background-color: #cccccc;
}

.iconredes{
	font-size: 20px;
	color:white;
	padding-bottom: 15px;
	background-color: #000;
	border-radius: 50%;
	padding: 10px;
}

.iconred{
	font-size: 20px;
	text-align: center;
	color:white;
	padding-bottom: 15px;
	background-color: #000;
	border-radius: 100%;
	padding: 10px;
	width: 42px;
	margin-bottom: 80px;
}

.logo{
	width: 250px;
	padding: 15px;
}

.septima-section{
	background-color: #000;
	background-image: url(../img/map-image.png);
	padding: 12% 0;
}

.contact-title{
	font-family: 'Montserrat', sans-serif;
	color: #fff;
	font-size: 50px;
	font-weight: bold;
}

.sub-contact{
	font-family: 'Spectral', serif;
	font-size: 20px;
	color: #67655E;
	padding-bottom: 70px;
}


.nombre,
.email,
.phone{
	border-radius: 4px;
	border: none;
	line-height: 40px;
	padding-left: 5px;
	width: 100%;
	
}

.email,
.phone{
	margin-top: 18px;
}

.areatexto{
	border-radius: 4px;
	border: none;
	line-height: 40px;
	padding-left: 5px;
	width: 100%;
	height: 165px;
}

.btn-mje{
	padding:12px;
	color: white;
	border: none;
	background-color: #F2E420;
	position: center;
	font-weight: bold;
	font-size: 15px;

}

footer{
	padding: 15px 0;
	margin: 0;
}

.copy{
	margin-top: 9px;
}

